<%= content_tag :div, "", id: "chart", data: {chemical: @chemical} %>

<h1><%= @chemical.name %></h1>
<table class="table table-bordered table-hover">
<tr><td>Chemical Name</td>
<td>
<small><%= @chemical.chemical_name %></small></td></tr>
<tr><td>CAS</td> <td><p><%= @chemical.cas %></p></td></tr>
<tr><td>Description</td><td><p><%= @chemical.description %></p></td></tr>
<tr><td><h3>Properties</h3></td></tr>
<tr><td>Melting_point</td> <td><p><%= @chemical.melting_point %></p></td></tr>
<tr><td>Boiling_point</td> <td><p><%= @chemical.boiling_point %></p></td></tr>
<tr><td>Molecular_weight</td> <td><p><%= @chemical.molecular_weight %></p></td></tr>
<tr><td>Hazardous_level</td><td> <p><%= @chemical.hazardous_level %></p></td></tr>
<tr><td>safety_description</td><td> <p><%= @chemical.safety_description %></p></td></tr>
<tr><td>Transport Information</td><td> <p><%= @chemical.transport_info %></p></td></tr>
<tr><td>Category</td><td><p><%= link_to @chemical.category.name,category_path(:id => @chemical.category.id) %></p></td></tr>
<tr><td>Manufacture</td><td><p><%= link_to @chemical.manufacture.name,manufacture_path(:id => @chemical.manufacture.id) %></p></td></tr>
<tr><td>place</td><td><p><%= link_to @chemical.state.name,state_path(:id => @chemical.state.id) %></p></td></tr>
<tr><td>production</td><td><p><%= link_to @chemical.production %></p></td></tr>

</table>

<%= link_to "Back",chemicals_path %>
<script>
// new Morris.Line({
//   // ID of the element in which to draw the chart.
//   element: 'chart',
//   // Chart data records -- each entry in this array corresponds to a point on
//   // the chart.
//   data: $('#chart').data('chemicals'),
//   // The name of the data record attribute that contains x-values.
//   xkey: 'id',
//   // A list of names of data record attributes that contain y-values.
//   ykeys: ['melting_point', 'boiling_point', 'hazardous_level'],
//   // Labels for the ykeys -- will be displayed when you hover over the
//   // chart.
//   labels: ['melting_point', 'boiling_point', 'hazardous_level'],
//     hideHover: true
// });

new Morris.Donut({
  element: 'chart',
  data: [
    {label: "", value: 1}
  ]
});
</script>