<<<<<<< HEAD
<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime("%d %b %Y") %></small>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path %> | <%= link_to "delete", @post, :confirm => "Are you want to delete?", :method => :delete %> 
=======
<h1>sample post</h1>
>>>>>>> 9b9f316ada41e172021fe2b0da92aba2101b411d
