
<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime("%d %b %Y") %></small>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path %> | <%= link_to "delete", @post, :confirm => "Are you want to delete?", :method => :delete %> 

